[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "third_party/glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "third_party/ImGuizmo"]
	path = third_party/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "third_party/glm"]
	path = third_party/glm
	url = https://github.com/g-truc/glm.git
[submodule "third_party/tinygltf"]
	path = third_party/tinygltf
	url = https://github.com/syoyo/tinygltf
[submodule "third_party/ImGuiFileDialog"]
	path = third_party/ImGuiFileDialog
	url = https://github.com/Ybalrid/ImGuiFileDialog.git
[submodule "third_party/tinyobjloader"]
	path = third_party/tinyobjloader
	url = https://github.com/Ybalrid/tinyobjloader.git
[submodule "third_party/nativefiledialog"]
	path = third_party/nativefiledialog
	url = https://github.com/mlabbe/nativefiledialog
[submodule "third_party/nanort"]
	path = third_party/nanort
	url = https://github.com/lighttransport/nanort.git
