#pragma once


//BUILD INFO
#define CMAKE_PROJECT @BUILD_TARGET@
#define CMAKE_CI @IS_CI@
#define CMAKE_GIT_COMMIT "@GIT_COMMIT@"
#define CMAKE_GIT_COMMIT_SHORT "@GIT_COMMIT_SHORT@"
#define CMAKE_CI_NAME "@CI_NAME@"
#define CMAKE_CI_BUILD @CI_BUILD@

#define CMAKE_BUILD_MAJOR @BUILD_VERSION_MAJOR@
#define CMAKE_BUILD_MINOR @BUILD_VERSION_MINOR@
#define CMAKE_BUILD_PATCH @BUILD_VERSION_PATCH@


